#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*/*
!writable/uploads/index.html
!writable/uploads/private/index.html
!writable/uploads/public/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log 

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml


# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
